body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dcdcdc; 
}
.header-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 180px;
    gap: 40px;
}
.clubsites{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-font-gray{
    color: #76766f;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding-left: 20px;
}
.nav-links li a img {
    width: auto;
    height: 30px;
    transition: transform 0.3s;
}
.nav-links li a img:hover {
    transform: scale(1.2);
}
.header-container1{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #37003c;
}
.header-navleft{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 167px;
    height: 50px;
}
.header-menuText{
    align-items: center;
    font-weight: 800;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-trigger {
    padding: 13px 13px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.dropdown-content {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0; 
    background-color: #963cff;
    z-index: 1;
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: transform 0.1s ease-in-out, opacity 0.3s ease-in-out;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.dropdown-content a:hover {
    text-decoration: underline;
}
.dropdown:hover .dropdown-content {
    transform: translateX(-50%) scale(1);
    opacity: 1; 
}
.header-navright{
    display: flex;
    margin-left: auto;
    gap: 10px;
    padding-right: 15px;
}
.header-boder{
    display: flex;
    gap: 20px;
    border-left: 2px solid #80307b88;
    border-right: 2px solid #80307b88;
    height: 35px;
    width: 100px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.signin-btn{
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.line-hover{
    position: relative;
    padding: 3px 0;
    cursor: pointer;
}
.line-hover::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: -20%;
  height: 2px;
  width: calc(140%);
  background: linear-gradient(to right, #00f0ff, #7b2ff7); 
  transform: scaleY(0); 
  transform-origin: bottom;
  transition: transform 0.08s linear;
}
.line-hover:hover::after{
    transform: scaleY(1);
}
#main-logo{
    position: absolute;
    width: 90.8px;
    height: 110px;
    margin-top: 15px;
    margin-left: 25px;
    cursor: pointer;
}
/* footer  */
.footer {
    background-color: #37003c;
    color: #fff; 
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Arial', sans-serif; 
}
.footer-container {
    display: flex;
    align-items: flex-start; 
}
.footer-column {
    min-width: 20px; 
    padding-left: 50px;
}
.footer-column h3 {
    font-size: 20px; 
    white-space: nowrap; 
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    font-size: 15px;
    margin-bottom: 8px; 
    cursor: pointer;
    transition: color 0.3s ease; 
}
.footer-column ul li:hover {
    color: #ff2882;
    text-decoration: none;
}
.footer-column ul li:last-child {
    margin-bottom: 0; 
}
/* main  */
.section-header {
  background: linear-gradient(120deg, #5bd7ff, #7139eb, #832acd),
              url('https://www.premierleague.com/resources/rebrand/v7.153.70/i/elements/backgrounds/primary-graphic.svg');
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  color: white;
  padding: 40px 25px;
  font-size: 36px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.section-header h2 {
  margin: 0;
  position: relative;
  z-index: 1;
}
.search-container{
    margin-top: 20px;
    display: flex;
    border: 1px solid #37003c;
    border-radius: 5px;
    width: fit-content;
    overflow: hidden;
    padding: 3px;
    padding: 5px;
}
.search-container input, .search-container button{
    border: none;
    outline: none; 
}
.search-container input{
    width: 320px;
    font-size: 14px;
    padding: 3px;
}
.search-container button{
    color: #37003c;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.filters{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.filters-group{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.filters-label{
    font-size: 13px;
    color: #590261;
    margin-bottom:  5px;
}
.filters-select{
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #37003c;
    background-color: white;
    color: #37003c;
    cursor: pointer;
    font-weight: 800;
    min-width: 180px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filters-select::after {
    content: '▼';
    font-size: 10px;
    margin-left: 10px;
}
.reset-btn{
    margin-top: 15px;
    background-color: #37003c;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.reset-icon{
    margin-right: 5px;
    font-size: 16px;
}
.reset-btn:hover{
    background-color: #ff2882;
}
.table-container {
    overflow-x: auto;
    color: #37003c;
}
.player-table {
    width: 100%;
    border-collapse: collapse;
 }

.table-header {
    background: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
}

.table-header th {
    text-align: left;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
#playerTable td {
    padding-left: 25px; 
}