# ---------------------
# IDEs
# ---------------------
.idea/
.vscode/
*.iml

# IntelliJ IDEA specific
.idea/
.idea/*

# VS Code
.vscode/
.vscode/*

# ---------------------
# Logs and temp files
# ---------------------
*.log
*.tmp

# ---------------------
# Environment/Secrets
# ---------------------
*.env
*.properties
*.yml

# ---------------------
# IntelliJ HTTP Client
# ---------------------
/httpRequests/
.idea/shelf/
.idea/workspace.xml
.idea/mavenHomeManager.xml
.idea/dataSources/
.idea/dataSources.local.xml

# Maven build output
target/
