<div id="title">
  <h2>Stadium</h2>
  <div>
    <input type="search" id="searchInput" placeholder="Search" />
    <button id="createBtn">+ Create news</button>
  </div>
</div>

<div id="card-container">
  
</div>

<!-- form -->
<form id="popup-form">
  <h3>Stadium</h3>
  <div>
    <span>Stadium name</span>
    <input type="text" name="" id="stadiumName" />
  </div>
  <div>
    <span>City</span>
    <input type="text" name="" id="city" />
  </div>
  <div>
    <span>Capacity</span>
    <input type="number" name="" id="capacity" />
  </div>
  <div>
    <span>Address</span>
    <input name="" id="address"></input>
  </div>
  <div>
    <span>Year of construction</span>
    <input type="text" name="" id="builtYear">
  </div>
  <div>
    <span>Image URL</span>
    <input type="text" name="" id="photoUrl">
  </div>
  <button type="button" id="submit-btn">Save</button>
  <button type="button" id="cancel-btn">Cancel</button>
</form>
