body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dcdcdc; 
}
.header-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 180px;
    gap: 40px;
}
.clubsites{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-font-gray{
    color: #76766f;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding-left: 20px;
}
.nav-links li a img {
    width: auto;
    height: 30px;
    transition: transform 0.3s;
}
.nav-links li a img:hover {
    transform: scale(1.2);
}
.header-container1{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #37003c;
}
.header-navleft{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 167px;
    height: 50px;
}
.header-menuText{
    align-items: center;
    font-weight: 800;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-trigger {
    padding: 13px 13px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.dropdown-content {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0; 
    background-color: #963cff;
    z-index: 1;
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: transform 0.1s ease-in-out, opacity 0.3s ease-in-out;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.dropdown-content a:hover {
    text-decoration: underline;
}
.dropdown:hover .dropdown-content {
    transform: translateX(-50%) scale(1);
    opacity: 1; 
}
.header-navright{
    display: flex;
    margin-left: auto;
    gap: 10px;
    padding-right: 15px;
}
.header-boder{
    display: flex;
    gap: 20px;
    border-left: 2px solid #80307b88;
    border-right: 2px solid #80307b88;
    height: 35px;
    width: 100px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.signin-btn{
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.line-hover{
    position: relative;
    padding: 3px 0;
    cursor: pointer;
}
.line-hover::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: -20%;
  height: 2px;
  width: calc(140%);
  background: linear-gradient(to right, #00f0ff, #7b2ff7); 
  transform: scaleY(0); 
  transform-origin: bottom;
  transition: transform 0.08s linear;
}
.line-hover:hover::after{
    transform: scaleY(1);
}
#main-logo{
    position: absolute;
    width: 90.8px;
    height: 110px;
    margin-top: 15px;
    margin-left: 25px;
    cursor: pointer;
}
/* main */
.main-container{
    margin: 0 auto;
}
.main-content{
    display: flex;
}
.match-section{
    width: 25%;
    padding:  0 20px 20px 20px;
    display: flex;
    flex-direction: column;
}
.match-card{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    color: #37003c;
    margin-bottom: 50px;
}
.match-header{
    display: flex; 
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    height: 60px;
    position: relative;
}
.match-header img {
    width: 35px;
    height: auto;
    z-index: 1;
}
.match-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: 800;
    color: white;
    margin: 0;
    white-space: nowrap;
}
.match-body{
    padding: 10px;
    text-align: center;
}
.match-result{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 280px;
    height: auto;
}
.match-result p{
    font-size: 18px;
    font-weight: 800;
    width: 40px;
}
.match-result img{
    width: 25px;
    height: 30px;
}
.match-result span{
    background-color: #37003c;
    color: white;
    font-size: 16px;
    font-weight: 800;
    border-radius: 5px;
    padding: 5px 10px;
}
.match-result-area{
    cursor: pointer;
}
.match-result-area:hover{
    background: linear-gradient(90deg, #5a91f3, #8e4bff);
    border-radius: 5px;
    color: white;
}
.match-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.match-footer button{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: #c8c8c2 solid 1px;
    color: #37003c;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.match-footer button:hover p{
    text-decoration: underline;
}
.match-upc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 280px;
    height: auto;
    margin: 0 auto;
}
.match-upc img{
    width: 28px;
    height: 30px;
}
.match-upc p{
    font-size: 18px;
    font-weight: 800;
    width: 40px;
}
.match-upc-area{
    cursor: pointer;
}
.match-upc-area:hover{
    background: linear-gradient(90deg, #5a91f3, #8e4bff);
    border-radius: 5px;
    color: white;
}
.match-upc-area:hover span{
    border: 1px solid #ffffff;
}
.match-upc span{
    border: 1px solid #37003c;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
}
.table-container{
    margin: 0;
    color: #37003c;
}
 table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
}
th {
    font-size: 12px;
    font-weight: 700;
}
td.team {
    text-align: left; 
}
.team-content {
    display: flex; 
    align-items: center; 
}
.team-logo {
    width: 22px; 
    height: 25px;
    margin-right: 8px; 
}
.team-name {
    font-size: 14px; 
    font-weight: 600;
}
#standings-table td {
    font-size: 14px; 
    vertical-align: middle; 
}
/* news */
.news-section{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.news-header{
    display: grid;
    grid-template-rows: 9fr 1fr;
    height: 40.5vw;
    background-color: #37003c;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.news-header-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.news-header-top-bignews{
    display: grid;
    grid-template-rows: 7fr 3fr;
    cursor: pointer;
}
.news-hover:hover p{
    text-decoration: underline;
    cursor: pointer;
}
.news-img{
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.news-img img{
    width: 100%;
    transition: transform 0.5s ease-in-out;
    border-radius: 8px;
}
.news-hover:hover .news-img img{
    transform: scale(1.1);  
}.news-header-content{
    font-size: 18px;
    padding-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.news-header-content h4,
.news-header-content h2,
.news-header-content p {
  margin: 0; 
}
.news-hover:hover .news-header-content h2{
    text-decoration: underline; 
}
.news-header-top-smallNews-news{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.news-header-top-smallNews-news:hover .news-img img{
    transform: scale(1.1);
}
.news-header-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    border-top: 1.5px solid #5a0561;
}
.news-header-bottom div:hover p{
    text-decoration: underline;
    cursor: pointer;
}
/* news-bottom  */
.latest-news{
    color: #37003c;
    padding-top: 10px;
}
.main-fontTitle, .main-seeMore {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.main-fontTitle{
    font-size: 1.6vw;
    font-weight: 800;
}
.main-title ul:hover {
    text-decoration: underline;
    cursor: pointer;
}
.main-seeMore{
    font-size: 1.2vw;
}
.latest-news-content{
    width: 101%;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.news-content{
    width: 24%;
    height: auto;
}
.news-text-content{
    font-size: 13px;
}
/* footer  */
.footer {
    background-color: #37003c;
    color: #fff; 
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Arial', sans-serif; 
}
.footer-container {
    display: flex;
    align-items: flex-start; 
}
.footer-column {
    min-width: 20px; 
    padding-left: 50px;
}
.footer-column h3 {
    font-size: 20px; 
    white-space: nowrap; 
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    font-size: 15px;
    margin-bottom: 8px; 
    cursor: pointer;
    transition: color 0.3s ease; 
}
.footer-column ul li:hover {
    color: #ff2882;
    text-decoration: none;
}
.footer-column ul li:last-child {
    margin-bottom: 0; 
}