<div class="nav">
  <h2>Clubs</h2>
  <div>
    <input type="search" id="searchInput" placeholder="Search" />
    <button id="createBtn">+ Create Clubs</button>
  </div>
</div>

<div class="card">
  <div class="card-in">
    <h2 class="card-stats"></h2>
    <span>Total of Clubs</span>
  </div>
  <div class="card-in">
    <h2 class="card-stats"></h2>
    <span>Total of views</span>
  </div>
  <div class="card-in">
    <h2 class="card-stats"></h2>
    <span>Clubs of the day</span>
  </div>
  <div class="card-in">
    <h2 class="card-stats"></h2>
    <span>Total views in day</span>
  </div>
</div>

<div id="clubs-container"></div>

<!-- popup -->
<form id="popup-form">
  <h3>Clubs</h3>
  <div>
    <span>Clubs name</span>
    <input type="text" name="" id="name" />
  </div>
  <div>
    <span>Short name</span>
    <input type="text" name="" id="shortname" />
  </div>
  <div>
    <span>Founded Year</span>
    <input type="number" name="" id="foundedYear" />
  </div>
  <div>
    <span>Website</span>
    <input name="" id="website" />
  </div>
  <div>
    <span>Coach</span>
    <input type="text" name="" id="coach" />
  </div>
  <div>
    <span>Current Position</span>
    <input type="text" name="" id="currentPosition" />
  </div>

  <div>
    <select name="" id="stadiumInForm">

    </select>
  </div>
  <button type="button" id="submit-btn">Save</button>
  <button type="button" id="cancel-btn">Cancel</button>
</form>
