<div class="nav">
  <h2>Football news</h2>
  <div class="in-nav">
    <input type="search" id="searchInput" placeholder="Search" />
    <button id="createBtn">+ Create Player</button>
  </div>
</div>

<div>
  <div class="card">
    <div class="card-in">
      <h2 id="totalNews">3</h2>
      <span>Total of news</span>
    </div>
    <div class="card-in">
      <h2 id="totalViews">1</h2>
      <span>Total of views</span>
    </div>
    <div class="card-in">
      <h2 id="newsInDay">2</h2>
      <span>News of the day</span>
    </div>
    <div class="card-in">
      <h2 id="viewsInDay">3</h2>
      <span>Total views in day</span>
    </div>
  </div>
</div>

<section id="player-container">
  <div class="card-player">
    <div class="image-wrapper">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrYN9r00kSQ5YXVrSAllZ4c0GnAzlbspDJWA&s"
      />
    </div>
    <div class="info">
      <span class="name">Messi</span>
      <span>Nationality</span>
      <span>Position</span>
      <span>Club</span>
      <span>Age</span>
      <span>Jersey number</span>
      <span>Date of birth</span>
      <span>Height</span>
      <span>Weight</span>
    </div>
    <div class="action">
      <button class="updateBtn">Update</button>
      <button class="deleteBtn">Delete</button>
    </div>
  </div>

  <div class="card-player">
    <div class="image-wrapper">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrYN9r00kSQ5YXVrSAllZ4c0GnAzlbspDJWA&s"
      />
    </div>
    <div class="info">
      <span class="name">Messi</span>
      <span>Nationality</span>
      <span>Position</span>
      <span>Club</span>
      <span>Age</span>
      <span>Jersey number</span>
      <span>Date of birth</span>
      <span>Height</span>
      <span>Weight</span>
    </div>
    <div class="action">
      <button class="updateBtn">Update</button>
      <button class="deleteBtn">Delete</button>
    </div>
  </div>
  
  <div class="card-player">
    <div class="image-wrapper">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrYN9r00kSQ5YXVrSAllZ4c0GnAzlbspDJWA&s"
      />
    </div>
    <div class="info">
      <span class="name">Messi</span>
      <span>Nationality</span>
      <span>Position</span>
      <span>Club</span>
      <span>Age</span>
      <span>Jersey number</span>
      <span>Date of birth</span>
      <span>Height</span>
      <span>Weight</span>
    </div>
    <div class="action">
      <button class="updateBtn">Update</button>
      <button class="deleteBtn">Delete</button>
    </div>
  </div>
</section>

<section id="form-popup">
  <form>
      <h3>Players Update</h3>
      <label>Name:</label>
      <input type="text" placeholder="name" required />

      <label>Nationality:</label>
      <input type="text" placeholder="nationality" />

      <label>Position:</label>
      <input type="text" placeholder="position" />

      <label>Club:</label>
      <input type="text" placeholder="club" />

      <label>Age:</label>
      <input type="number" placeholder="age" />

      <label>Jersey Number:</label>
      <input type="number" placeholder="jersey" />

      <label>Date of Birth:</label>
      <input type="date" placeholder="dob" />

      <label>Height (cm):</label>
      <input type="number" placeholder="height" />

      <label>Weight (kg):</label>
      <input type="number" placeholder="weight" />

      <label>Photo URL (kg):</label>
      <input type="text" placeholder="weight" />
      <div>
        <button class="saveBtn" type="button">Save</button>
        <button class="cancelBtn" type="button">Cancel</button>
      </div>
    </form>
</section>
